$PhotoEnd: "../../assets/photos/ceremony.jpg";

@media (min-width: 600px) and (max-width: 768px) {
    .cst-end-wrap{
        background-position: center;
    }
}

@media (min-width: 501px) and (max-width: 599px) {
    .cst-end-wrap{
        background-position: -210px 0;
    }
}

@media (min-width: 415px) and (max-width: 500px) {
    .cst-end-wrap{
        background-position: -250px 0;
    }
}

@media (max-width: 414px) {
    .cst-end-wrap{
        background-position: -280px 0;
    }
}

.cst-end-wrap{
    position: relative;
    height: 100vh;
    color: #fff;

    background-image: url($PhotoEnd);
    background-repeat: no-repeat;
    background-size: cover;

    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: contrast(70%) brightness(60%);
        pointer-events: none;   
    }
}

.cst-end-content{
    position: relative;
    z-index: 9;

    h5{
        font-weight: lighter;
    }
}

.cst-end-title{
    padding: 0 0 50px 0;
    letter-spacing: 8px;
    margin-left: 8px;
}

.cst-end-sign{
    margin-top: 120px;
}