$PhotoEnd: "../../assets/photos/ceremony.jpg";

.cst-end-wrap{
    position: relative;
    height: 100vh;
    color: #fff;

    background-image: url($PhotoEnd);
    background-repeat: no-repeat;
    background-size: cover;

    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: contrast(70%) brightness(60%);
        pointer-events: none;   
    }
}

.cst-end-content{
    position: relative;
    z-index: 9;

    h5{
        font-weight: lighter;
    }
}

.cst-end-title{
    padding: 0 0 50px 0;
    letter-spacing: 8px;
    margin-left: 8px;
}

.cst-end-sign{
    margin-top: 120px;
}