@import "../../utilities/color-themes.scss";

@media only screen and (max-width: 767px) {
    .cst-wish-panel-qr{
        border-right: none !important;
    }
    
    .cst-wish-panel-backacc{
        border-left: none !important;
    }
}

$PhotoGift: "../../assets/photos/gift.jpeg";

.cst-gift-wrap{
    position: relative;
    height: 100vh;
    color: #fff;

    background-image: url($PhotoGift);
    background-repeat: no-repeat;
    background-size: cover;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6px) brightness(80%);
        pointer-events: none;
    }
}

.cst-gift-content{
    z-index: 5;
}

.cst-wish-panel{
    background-color: rgba($color-three, 0.7);   
    padding: 40px 0; 
    border-radius: 45px;
}

.cst-wish-panel-qr{
    border-right: 3px solid #fff ;
    padding: 35px 0;
}

.cst-wish-panel-backacc{
    border-left: 3px solid #fff ;
    padding: 35px 0;
}