@import "../../utilities/color-themes.scss";

$PhotoCeremony: "../../assets/photos/ceremony.jpg";

.cst-cer-bg-photo{
    background-image: url($PhotoCeremony);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 70px 0;
}