@import "../../utilities/color-themes.scss";

$PhotoCeremony: "../../assets/photos/ceremony.jpeg";

.cst-cer-bg-photo{
    background-image: url($PhotoCeremony);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 70px 0;
}

.cst-cer-info-frame{
    color: #fff;
    background-color: rgba($color-four, 0.6);
    border-radius: 45px;
}