// $color-1: #d7b150;
// $color-2: #584619;
// $color-3: #333;
// $color-4: #1d1d1d;

// $color-1: #e8985eff;
// $color-2: #54442bff;
// $color-3: #a9714bff;
$color-4: #141204ff;
$color-5: #262a10ff;
$color-6: #c3b39b;

$color-1: #fffcf7; // white bg
$color-2: #faf9f2; // gray bg
$color-3: #303031; // black bg
