$PhotoLive : "../../assets/photos/live.jpeg";

.cst-live-bg-photo{
    background-image: url($PhotoLive);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}

.cst-live-title{
    letter-spacing: 5px;
    margin-left: 5px;
}