.cst-cer-title{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 5px;
}

.cst-cer-date-row{
    
    .cst-cer-day-col{
        display: flex;
        flex-direction: column;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;

        p{
            letter-spacing: 0;
            margin-top: -20px;
        }
    }

    p{
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 3px;
    }

    h2{
        letter-spacing: 5px;
        margin-left: 5px;
    }
}
