@import "../../utilities/color-themes.scss";

.cst-wish-bg{
    background-color: $color-four;
    padding-bottom: 100px;
}

.cst-wish-title{
    color: #fff;
    letter-spacing: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 80px;
}

.cst-wish-card{
    padding: 5px;
    color: #fff;
    border-bottom: 1px solid #fff;
    overflow-wrap: break-word;
}

.cst-wish-section{
    margin-top: 80px;
}

.cst-wish-canvas{
    max-height: 500px;
    overflow-y: auto;
}