// @import "../../utilities/color-themes.scss";

.cst-gallery-canvas{
    margin: 0 100px 0 100px;
    padding-bottom: 50px;    
}

// .cst-gallery-header-frame{
//     overflow: hidden;
//     height: 450px;    
// }

// .cst-gallery-photo{
//     object-fit: cover;
//     width: 100%;
//     height: 100%;    
//     transition: 0.2s;

//     &:hover{
//         filter: brightness(50%);
//         cursor: pointer;
//         transition: 0.2s;
//     }
// }

// .cst-gallery-image-crop-right-bottom-small{
//     object-position: 100% 100%;
// }

// .cst-gallery-image-crop-left-medium{
//     object-position: 14% 50%;
// }

// .cst-gallery-image-crop-left-large {
//     object-position: 35% 50%;
// }

// .cst-gallery-image-crop-right-medium {
//     object-position: 80% 50%;
// }

// .cst-gallery-image-crop-right-large {
//     object-position: 65% 50%;
// }

@media only screen and (max-width: 780px) {
    .cst-gallery-canvas{
        margin: 0 10px 0 10px;
    }
    .cst-gallery-header-frame{        
        height: 300px;        
    }
  }