@import "../../utilities/color-themes.scss";
$modal-bg-color: rgb(219, 219, 219);

@media (min-width: 300px) and (max-width: 574px) {
    .cst-modal-height {
        max-height: 100px !important;
    }

    .cst-modal-item-image {
        height: 500px !important;
    }

    .cst-modal-width {
        width: 97vw !important;
        max-width: 97vw !important;
    }
}

@media (min-width: 575px) and (max-width: 1100px) {
    .cst-modal-height {
        max-height: 100px !important;
    }

    .cst-modal-item-image {
        height: 500px !important;
    }
}

@media (min-width: 1111px) and (max-width: 1600px) {
    .cst-modal-item-image {
        height: 500px !important;
    }
}

.cst-modal {
    max-width: none !important;
}

.cst-modal-width {
    width: 90vw;
    max-width: 90vw;
}

.cst-modal-height {
    max-height: 90vw;
}

.modal-header {
    background-color: $modal-bg-color;
}

.modal-body {
    background-color: $modal-bg-color;
}

.cst-modal-item-image {
    width: 100%;
    height: 700px;
    object-fit: contain;    
}

.carousel-indicators{
    transition: 0.3s;
    
    .active{
        transition: 0.3s;
        background-color: $color-two !important;
    }
}